.root {
  transition-property: all;
  transition-duration: 0.3s;
  padding-left: 14px;
  padding-right: 14px;
  height: 30px;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px rgb(42, 163, 239)
    /* plasmic-token: a9AbxCWIoMUf4 */;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 999px;
  border-width: 1px;
  border-style: none;
}
.root__options_primary {
  padding-left: 14px;
  padding-right: 14px;
  height: 37px;
  background: rgb(42, 163, 239);
}
.root:hover {
  background: rgba(0, 169, 255, 0.09);
}
.root:focus {
  outline: none;
}
.root__options_primary:hover {
  background: rgb(36, 148, 218);
}
.slotChildren {
  font-size: 14px;
  font-weight: 700;
  color: rgb(42, 163, 239) /* plasmic-token: a9AbxCWIoMUf4 */;
}
.slotChildren__options_primary {
  color: rgb(255, 255, 255);
}
